<head>
    <link rel="stylesheet" href="~/css/SignUp.css" type="text/css" />
</head>

<div id="app">
    <h3>Create Account</h3>
    <form>
        <div class="input">
            User Name
            <input v-on:input="onUserInput" />
            <div id="Error">
                {{ errorMessage }}
            </div>
        </div>
        <div class="input">
            Password
            <input v-on:input="onInput" />
            <div id="Error">
                {{numberErrorMessage}}
            </div>
        </div>
    </form>
    <div>
        <button id="submitButton" v-on:click="submit">
            submit
        </button>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            userNameText: '',
            textInput: '',
            errorOutput: '',
            numberErrorOutput: '',
            longEnough: false,
            allNumbers: false
        },
        computed: {
            errorMessage: function () {
                let userNameFomratCheck = /[a-zA-Z]/.test(this.userNameText);
                if (!userNameFomratCheck || this.userNameText.length < 6 ||
                    this.userNameText.length > 19) {
                    return this.errorOutput = "Username must be at least 6 characters and no more than 19 and contain only letters";
                }
                else {
                    this.longEnough = true;
                }
            },
            numberErrorMessage: function () {
                let isNum = /[0 - 9]*/.test(parseInt(this.textInput));
                if (!isNum || this.textInput.length != 4) {
                    return this.numberErrorOutput = "password must be four digits long and only contain numbers";
                }
                else {
                    this.allNumbers = true;
                }
            },
            createAccount: function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Create", "AccountCreation")',
                    data: {
                        password: this.textInput,
                        userName: this.userNameText
                    },
                    success: function (data) {
                        if (data.success) {
                            window.location.href = '@Url.Action("Index", "Home")';
                        }
                        else {
                            alert("User Already Exists");
                        }
                    },
                    error: function (data) {
                        alert("Error");
                    },
                });
         }
        },
        methods: {
            onInput: function (event) {
                this.textInput = event.target.value;
            },
            onUserInput: function (event) {
                this.userNameText = event.target.value;
            },
            submit: function () {
                if (this.longEnough && this.allNumbers) {
                    this.createAccount();
                }
            },
        }
    })
</script>