<head>
    <link rel="stylesheet" href="~/css/SignUp.css" type="text/css" />
</head>

<div id="app">
    <h3>Create Account</h3>
    <div>
        User Name
        <input v-on:input="onUserInput" />
    </div>
    <div>
        Password
        <input v-on:input="onInput" />
    </div>
    <div>
        <button v-on:click="submit">
            submit
        </button>
    </div>
    <div id="Error">
        {{ errorMessage }}
    </div>
    <div id="Error">
        {{numberErrorMessage}}
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            userNameText: '',
            textInput: '',
            errorOutput: '',
            numberErrorOutput: '',
            longEnough: false,
            allNumbers: false
        },
        computed: {
            errorMessage: function () {
                if (this.textInput.length != 4 || this.userNameText.length < 6) {
                    return this.errorOutput = "Password or username have incorrect length";
                }
                else {
                    this.longEnough = true;
                }
            },
            numberErrorMessage: function () {
                let isNum = /[0 - 9]*/.test(parseInt(this.textInput));
                if (!isNum) {
                    return this.numberErrorOutput = "password must be numbers only";
                }
                else {
                    this.allNumbers = true;
                }
            },
            createAccount: function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Create", "AccountCreation")',
                    data: {
                        password: this.textInput,
                        userName: this.userNameText
                    },
                    success: function (data) {
                        if (data.success) {
                            window.location.href = '@Url.Action("Index", "Home")';
                        }
                        else {
                            alert("User Already Exists");
                        }
                    },
                    error: function (data) {
                        alert("Error");
                    },
                });
         }
        },
        methods: {
            onInput: function (event) {
                this.textInput = event.target.value;
            },
            onUserInput: function (event) {
                this.userNameText = event.target.value;
            },
            submit: function () {
                if (this.longEnough && this.allNumbers) {
                    this.createAccount();
                }
            },
        }
    })
</script>