@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://localhost:44381/Home/LogIn">Log In</a>.</p>
    <button id="SignUpButton"  onClick="location.href='https://localhost:44381/AccountCreation/Index'">Create Account</button>
</div>
